nav .statistics{
    background-color: #88C057;
}

main{
    height: 92vh;

}

.canvas-container{
    margin-top: 5%;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
}

canvas{
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 80%;
}


@media only screen and (max-device-width: 420px){


    .canvas-container{
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: rotate(90deg)
    }
    canvas{
        height: 90% !important;
        width: 180% !important;
    }

}



